html {
  background-image: linear-gradient(#f3e0c2, #c36a3e);
  background-repeat: no-repeat;
  background-size: auto 150%;
}

.headerForNav {}

.man-making-tea-container {
  display: flex;
  justify-content: end;
  margin-right: 12px;
  display: none;
}

.man-making-tea-img {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  border-radius: 12px;
}

.neutral-block {
  display: inline-block;
  background-color: #eb905a;
  width: 4rem;
  height: 4px;
}

.maven {
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  font-size: 14px;
  margin-top: 1rem;
}

.maven-text-statement {
  display: none;
}

.maven-grassjelly {
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  color: #3d3d3d;
  font-size: 32px;
}

.nav-ul-container {
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  color: #3d3d3d95;
  font-size: 32px;
}

.hamburger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  margin-top: 12px;
}

.hamburger-icon {
  background-color: #eb905a;
  height: 32px;
  border-radius: 4px;
  color: #f3e0c2;
}

@media only screen and (min-width:1024px) {

  .man-making-tea-container {
    display: flex;
    width: 100%;
    margin-top: 25px;
  }

  .maven-text-statement {
    font-family: 'Maven Pro', sans-serif;
    font-weight: 900;
    margin-top: 25px;
    margin-left: 24px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 120px;
  }

}

@media only screen and (min-width:768px) {

  .man-making-tea-img {
    display: flex;
    width: 100%;
    margin-top: 25px;
    height: 100%;
  }
}