html {
  background-image: linear-gradient(#f3e0c2, #e78063);
  background-repeat: no-repeat;
  background-size: auto 200%;
}



.headerForNav {}

.neutral-block {
  display: inline-block;
  background-color: #eb905a;
  width: 4rem;
  height: 4px;
}

.maven {
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  margin-top: 1rem;
}

.maven-grassjelly {
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  color: #3d3d3d;
  font-size: 32px;
}

.nav-ul-container {
  font-family: 'Maven Pro', sans-serif;
  font-weight: bold;
  color: #3d3d3d95;
  font-size: 32px;
}

.hamburger-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  margin-top: 12px;
}

.hamburger-icon {
  background-color: #eb905a;
  height: 32px;
  border-radius: 4px;
  color: #f3e0c2;
}